<div>
  <%= form_tag(authors_path, method: :get) do %>
    <label for="search_name">Nome:</label>
    <%= text_field_tag(:search_name) %> 

    <%= submit_tag("Search Author(s)") %>
  <% end %>
</div>