<div>
  <%= form_tag(assemblies_path, method: :get) do %>
  <label for="search_title">Name:</label>
  <%= text_field_tag(:search_assembly) %> 
  
  

    <%= submit_tag("Search Assembly(ies)") %>
  <% end %>
</div> 